@model i7MEDIA.Plugin.Widgets.Registry.Models.RegistryShippingPartialViewModel

@{
    Layout = "";

    var shippingOptions = Model.RegistryShippingOptions;
}

<!link rel="stylesheet" href="..\..\..\Plugins\i7MEDIA.Plugin.Widgets.Registry\Areas\Admin\Styles\Tabs\registryShippingOption.css" />

<section data-registry-option>
    <fieldset data-table>
        <legend>
            Collection Method
            <i data-success data-shipping-option-add class="fa fa-plus-circle"></i>
        </legend>
        <header>
            <span></span>
            <h4>Name</h4>
            <h4>Description</h4>
            <h4>Display Order</h4>
            <span></span>
        </header>

        <div data-line-break></div>

        @foreach (var item in shippingOptions)
        {
            <span><input data-type-id="@item.Id" type="checkbox"></span>
            <span>@item.Name</span>
            <span>@item.Description</span>
            <span>@item.SortOrder</span>
            <span>
                <i data-edit-shipping-option data-name="@item.Name" data-description="@item.Description" data-id="@item.Id"   data-order="@item.SortOrder" class="fa fa-edit"></i>
                <i data-delete-shipping-option data-name="@item.Name" data-description="@item.Description" data-id="@item.Id" data-order="@item.SortOrder" class="fa fa-trash"></i>
            </span>
            <div data-line-break></div>
        }

        <span></span>
    </fieldset>

    <dialog data-dialog-edit>
        <header>
            <i data-registry-shipping-close class="fa fa-times"></i>
        </header>
        <section>
            <label for="ShippingOptionName">Name</label>
            <input type="text" data-registry-shipping-name class="form-control text-box" name="ShippingOptionName">
        </section>
        <section>
            <label for="ShippingOptionDescription">Description</label>
            <textarea type="text" data-registry-shipping-description class="form-control text-box" name="ShippingOptionDescription" rows="3"></textarea>
        </section>
        <section>
            <label for="TypeName">Order</label>
        <input type="number" data-registry-shipping-order class="form-control text-box" name="TypeOrder">
        </section>
        <footer>
            <input type="hidden" data-registry-shipping-id>
            <button type="submit" class="btn btn-success" data-registry-shipping-submit>Save</button>
        </footer>
    </dialog>
</section>
