@using i7MEDIA.Plugin.Widgets.Registry
@model i7MEDIA.Plugin.Widgets.Registry.Models.RegistryPartialViewModel

@{
    Layout = "";

    var version = Model.PluginVersion;
    var shippingOptions = Model.ShippingOptions;
    var registryTypes = Model.RegistryTypes;
    var consultants = Model.Consultants;
}

<!link rel="stylesheet" href="/Plugins/i7MEDIA.Plugin.Widgets.Registry/Areas/Admin/Styles/Tabs/registry.css?v=@version" />

<div data-registry class="registry-wrapper round">
    <header>
        <form data-search>
            <input type="text" autocomplete="off" placeholder="Search Registries..." aria-label="Search registries" autofocus>
            <i class="fa fa-search" title="Search by Name, Date, Month or by Person"></i>
        </form>
        <div data-report-actions>
            <i data-action-report class="fa fa-download" title="Generate Report"></i>
        </div>
    </header>
    <section data-result>
        <h2>Perform a Search to See Results...</h2>
    </section>

    <dialog data-dialog-edit-registry>
        <header>
            <h3 data-admin-update-header></h3>
            <i class="fa fa-times" data-dialog-close></i>
        </header>
        <main>
            <section>
                <label for="name">
                    Name
                </label>
                <input data-admin-update-name type="text" class="form-control text-box single-line">
            </section>

            <section>
                <label for="summary">
                    Summary
                </label>
                <textarea data-admin-update-summary class="form-control text-box"></textarea>
            </section>

            <section>
                <label for="eventdate">
                    Event Date
                </label>
                <input data-admin-update-event-date type="date" class="form-control text-box single-line">
            </section>

            <section>
                <label>
                    Event Type
                </label>
                <select data-admin-update-type class="form-control text-box single-line">
                    <option value="0">Select One...</option>
                    @foreach (var item in registryTypes)
                    {
                        <option title="@item.Description" value="@item.Id">@item.Name</option>
                    }
                </select>
            </section>

            <section>
                <label for="sponsor">
                    Partner / Co-Registrant
                </label>
                <input data-admin-update-sponsor type="text" class="form-control text-box single-line">
            </section>

            <section>
                <label>
                    Consultant
                </label>
                <select data-admin-update-consultant class="form-control text-box single-line">
                    <option value="0">Select One...</option>
                    @foreach (var item in consultants)
                    {
                        <option title="@item.Email" value="@item.Id">@item.Name</option>
                    }
                </select>
            </section>

            <section>
                <label>
                    Collection Method
                </label>
                <select data-admin-update-shipping class="form-control text-box single-line">
                    <option value="0">Select One...</option>
                    @{
                        foreach (var item in shippingOptions)
                        {
                            <option title="@item.Description" value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </section>

            <section>
                <label for="notes">
                    Client Notes
                </label>
                <textarea data-admin-update-client-notes class="form-control text-box"></textarea>
            </section>

            <section>
                <label for="notes">
                    Admin Notes
                </label>
                <textarea data-admin-update-admin-notes autocomplete="off" class="form-control text-box single line" rows="10" multiple></textarea>
            </section>

            <section data-registry-item>
                @*dynamic content*@
            </section>

            <section data-registry-order>
                @*dynamic content*@
            </section>

        </main>
        <footer>
            <input type="hidden" data-admin-update-id>
            <button type="button" class="btn btn-success" data-admin-update-save>Save</button>
        </footer>
    </dialog>

    <template data-template-order-external>
        <dialog data-dialog-order>
            <header>
                <h3 data-admin-update-header="">Add External Order</h3>
                <i class="fa fa-times" data-dialog-close></i>
            </header>
            <main>
                <section>
                    <label for="name">
                        Quantity
                    </label>
                    <input data-order-external-quantity type="number" min="1" value="1" class="form-control text-box single-line">
                </section>
                <section>
                    <label for="name">
                        Item
                    </label>
                    <select data-order-external-item-id class="form-control text-box single-line"></select>
                </section>
                <section>
                    <label for="name">
                        Order Date
                    </label>
                    <input data-order-external-date type="date" class="form-control text-box single-line">
                </section>
                <section>
                    <label for="notes">
                        Notes
                    </label>
                    <textarea data-order-external-note autocomplete="off" class="form-control text-box single line" rows="10" multiple></textarea>
                </section>
                <footer>
                    <button type="button" class="btn btn-success" data-order-external-save>Save</button>
                </footer>
            </main>
        </dialog>
    </template>

    <template data-template-report-dialog>
        <dialog data-dialog-report>
            <header>
                Export Options
            </header>
            <main>
                <section>
                    <label>Search / Filename</label>
                    <input data-report-query-name type="text" class="form-control text-box" />
                </section>
                <section>
                    <label>Start Date</label>
                    <input data-report-query-start-date type="date" class="form-control text-box" />
                </section>
                <section>
                    <label>End Date</label>
                    <input data-report-query-end-date type="date" class="form-control text-box" />
                </section>
                <section>
                    <label>Status</label>
                    <div>
                        <input data-report-query-status type="radio" value="0" name="active" checked>
                        <label>Active</label>
                    </div>
                    <div>
                        <input data-report-query-status type="radio" value="1" name="active">
                        <label>Inactive</label>
                    </div>
                    <div>
                        <input data-report-query-status type="radio" value="-1" name="active">
                        <label>All</label>
                    </div>
                </section>
            </main>
            <footer>
                <button data-dialog-report-submit class="btn btn-success">Export</button>
            </footer>
        </dialog>
    </template>

    <template data-template-registry-item-header>
        <div data-grid-header>
            <label>Items</label>
            <i data-action-item-report class="fa fa-download" title="Export Registry Items"></i>
        </div>
        <div data-line-break></div>
        <div class="center">Name</div>
        <div class="center">Price</div>
        <div data-editable class="center">Requested</div>
        <div class="center">Purchased</div>
        <div data-line-break></div>
    </template>

    <template data-template-registry-item-row>
        <div data-name></div>
        <div data-price class="right"></div>
        <div data-quantity class="center"></div>
        <div data-purchased class="center"></div>
        <div data-actions>
            <i data-action-edit class="fa fa-pen"></i>
            <i data-action-delete class="fa fa-trash"></i>
        </div>
        <div data-line-break></div>
    </template>

    <template data-template-registry-order-header>
        <div data-grid-header>
            <label>Orders</label>
            <span data-header-controls>
                <i data-action-order-external class="fa fa-plus" title="Add External Order"></i>
                <i data-action-order-report class="fa fa-download" title="Export Registry Orders"></i>
            </span>
        </div>
        <div data-line-break></div>
        <div data-header-row class="center">Order Id</div>
        <div data-header-row data-editable class="center">Customer</div>
        <div data-header-row class="right">Order Total</div>
        <div data-header-row data-line-break></div>
    </template>

    <template data-template-registry-order-row>
        <div data-order-id class="center nop-link"></div>
        <div data-order-customer class="center"></div>
        <div data-order-total class="right"></div>
    </template>

    <template data-template-registry-order-row-external>
        <div class="center">External Purchase</div>
        <div data-order-notes></div>
        <div class="right">
            <span data-external-order-action>
                N/A
                <i data-action-delete class="fa fa-trash"></i>
            </span>
        </div>
    </template>
</div>

@await Html.PartialAsync("_RegistryNotification.cshtml")