@model i7MEDIA.Plugin.Widgets.Registry.Models.RegistryTypePartialViewModel

@{
    Layout = "";

    var registryTypes = Model.RegistryTypes;
}

<!link rel="stylesheet" href="..\..\..\Plugins\i7MEDIA.Plugin.Widgets.Registry\Areas\Admin\Styles\Tabs\registryType.css" />

<section data-registry-option>
    <fieldset data-table>
        <legend>
            Registry Type
            <i data-success data-type-option-add class="fa fa-plus-circle"></i>
        </legend>
        <header>
            <span></span>
            <h4>Name</h4>
            <h4>Description</h4>
            <h4>Order</h4>
        </header>

        <div data-line-break></div>

        @{
            foreach (var item in registryTypes)
            {
                <span><input data-type-id="@item.Id" type="checkbox"></span>
                <span>@item.Name</span>
                <span>@item.Description</span>
                <span>@item.SortOrder</span>
                <span>
                    <i data-edit-type-option data-name="@item.Name" data-description="@item.Description" data-id="@item.Id" data-order="@item.SortOrder" class="fa fa-edit"></i>
                    <i data-delete-type-option data-name="@item.Name" data-description="@item.Description" data-id="@item.Id" data-order="@item.SortOrder" class="fa fa-trash"></i>
                </span>
                <div data-line-break></div>
            }
        }
        <span></span>
    </fieldset>

    <dialog data-dialog-edit>
        <header>
            <i data-registry-type-close class="fa fa-times"></i>
        </header>
        <section>
            <label for="TypeName">Name</label>
            <input type="text" data-registry-type-name class="form-control text-box" name="TypeName">
        </section>
        <section>
            <label for="TypeDescription">Description</label>
            <textarea type="text" data-registry-type-description class="form-control text-box" name="TypeDescription" rows="3"></textarea>
        </section>
        <section>
            <label for="TypeName">Order</label>
            <input type="number" data-registry-type-order class="form-control text-box" name="TypeOrder">
        </section>
        <footer>
            <input type="hidden" data-registry-type-id>
            <button type="submit" class="btn btn-success" data-registry-type-submit>Save</button>
        </footer>
    </dialog>
</section>