@model i7MEDIA.Plugin.Widgets.Registry.Models.RegistryAdminRowViewModel

@{
    Layout = "";

    var registries = Model.Registries;
}
<span data-header-row></span>
<span data-header-row>Name</span>
<span data-header-row>EventDate</span>
<span data-header-row>Consultant</span>
<span data-header-row>Shipping Method</span>
<span data-header-row>Deleted</span>
<span data-header-row></span>

@foreach (var registry in registries)
{
    <span>
        <input type="radio" name="select">
    </span>

    <span>
        <a href="/registry/@registry.Id" target="_blank">@registry.Name</a>
    </span>

    <span>@registry.EventDate.ToString("MMMM d, yyyy")</span>
    <span>@registry.ConsultantName</span>
    <span>@registry.ShippingMethod</span>

    <span data-admin-update-deleted>
        <input data-registry-id="@registry.Id" type="checkbox" class="form-control" checked="@registry.Deleted">
    </span>
    <span data-column-actions>
        <i data-action-edit class="fa fa-pen" data-registry-name="@registry.Name" data-registry-id="@registry.Id" title="Edit"></i>
    </span>
    <div data-line-break></div>
}