@model i7MEDIA.Plugin.Widgets.Registry.Models.ListViewModel

@{
    var registryTypes = Model.RegistryTypes;
    var shippingOptions = Model.ShippingOptions;
}

<dialog class="round" data-modal-add>
    <header>
        <h4>Create a New Registry!</h4>
        <i data-modal-close class="fal fa-times"></i>
    </header>
    <main>
        <section>
            <label>
                Name
                <sup>
                    <i class="fal fa-search"></i>
                    <i class="fal fa-info" title="The Name/Title of the Registry"></i>
                </sup>
            </label>
            <input autocomplete="off" class="form-control text-box single-line" data-add-name type="text" autofocus />
        </section>

        <section>
            <label>
                Summary
                <sup>
                    <i class="fal fa-info" title="A More Detailed"></i>
                </sup>
            </label>
            <textarea autocomplete="off" class="form-control text-box" rows="3" multiple" data-add-description></textarea>
        </section>

        <section>
            <label>
                Partner / Co-Registrant
                <sup>
                    <i class="fal fa-search"></i>
                    <i class="fal fa-info" title="If Another Person is "></i>
                </sup>
            </label>
            <input type="text" class="form-control text-box single-line" data-add-sponsor></input>
        </section>

        <section>
            <label>
                Event Date
                <sup>
                    <i class="fal fa-search"></i>
                    <i class="fal fa-info" title="The Specific Date "></i>
                </sup>
            </label>
            <input autocomplete="off" class="form-control text-box single-line" data-add-event-date type="date" />
        </section>

        <section>
            <label>
                Collection Method
                <sup>
                    <i class="fal fa-info"></i>
                </sup>
            </label>
            <select class="form-control text-box single-line" data-add-event-shipping-method>
                <option value="0">Select One...</option>
                @{
                    foreach (var item in shippingOptions)
                    {
                        <option title="@item.Description" value="@item.Id">@item.Name</option>
                    }
                }
            </select>
        </section>

        <section>
            <label>
                Event Type
                <sup>
                    <i class="fal fa-search"></i>
                    <i class="fal fa-info"></i>
                </sup>
            </label>
            <select data-add-event-type class="form-control text-box single-line">
                <option value="0">Select One...</option>
                @foreach (var item in registryTypes)
                {
                    <option title="@item.Description" value="@item.Id">@item.Name</option>
                }
            </select>
        </section>

        <section>
            <label for="notes">
                My Notes
                <sup>
                    <i class="fal fa-info"></i>
                    <i class="fal fa-user-secret"></i>
                </sup>
            </label>
            <textarea autocomplete="off" class="form-control text-box single-line" data-add-notes rows="3" multiple></textarea>
        </section>

        <section data-registry-item>
            @*dynamic content*@
        </section>
    </main>
    <footer>
        <button data-registry-save class="button-1">Save</button>
        <input type="hidden" data-add-id>
    </footer>
    <sup data-registry-add-legend>
        <i class="fal fa-search" title="User's can Search Registries on This Field">Searchable</i>
        <i class="fal fa-info" title="See More Information About This Field">More Details</i>
        <i class="fal fa-user-secret" title="Only Visible to You and Your Consultant">Hidden</i>
    </sup>
</dialog>

<template data-template-registry-item-header>
    <div class="center">Name</div>
    <div class="center">Price</div>
    <div data-editable class="center">Requested</div>
    <div class="center">Purchased</div>
    <div class="center"></div>
    <div data-row></div>
</template>

<template data-template-registry-item-row>
    <div data-name></div>
    <div data-price class="right"></div>
    <div data-quantity class="center"></div>
    <div data-purchased class="center"></div>
    <div data-actions>
        <i data-action-edit class="fal fa-pencil"></i>
        <i data-action-delete class="fal fa-trash"></i>
    </div>
    <div data-row></div>
</template>