@using System.Globalization
@using i7MEDIA.Plugin.Widgets.Registry
@model i7MEDIA.Plugin.Widgets.Registry.Models.RegistryViewModel

@{
    Layout = "_Root";

    var items = Model?.RegistryItems;
    var version = Model.PluginVersion;
    var deleteRoute = Url.RouteUrl(RegistryDefaults.DeleteItem);
    var addToCartRoute = Url.RouteUrl(RegistryDefaults.AddToCart);
}

<!link rel="stylesheet" href="/Plugins/i7MEDIA.Plugin.Widgets.Registry/Areas/Public/Styles/display.css?v=@version" />
<!script type="module">
    import {init} from '/Plugins/i7MEDIA.Plugin.Widgets.Registry/Areas/Public/Scripts/display.js?v=@version';

    init('@deleteRoute', '@addToCartRoute');
</!script>
<article>
    <q>@Model.Notes</q>
</article>
<div data-registry-product-list>
    @{
        foreach (var item in items)
        {
            <form data-registry-item-id="@item.Id" data-purchased="@item.Purchased">
                <header>
                    <img src="@item.ImageUrl" alt="@item.Name">
                </header>
                <main>
                    <h3>@item.Name</h3>
                    <p>
                        @item.Description
                    </p>
                </main>
                <section>
                    @item.Price.ToString("C", CultureInfo.CurrentCulture)
                </section>
                <footer>
                    <button data-item-id="@item.ProductId" data-add class="btn-success" type="button">
                        <i class="fas fa-shopping-basket" aria-hidden="true"></i>
                        Add to Cart
                    </button>

                    @if (Model.IamOwner)
                    {
                        <button data-item-id="@item.ProductId" data-delete class="btn-danger" type="button">
                            <i class="fas fa-trash" aria-hidden="true"></i>
                            Delete
                        </button>
                    }
                </footer>
            </form>
        }
    }
</div>