@model i7MEDIA.Plugin.Widgets.Registry.Models.RegistryViewModel
@using System.Globalization
@using i7MEDIA.Plugin.Widgets.Registry

@{
    Layout = "_Root";

    var items = Model.RegistryItems;
    var version = Model.PluginVersion;
    var deleteRoute = Url.RouteUrl(RegistryDefaults.DeleteItem);
    var addToCartRoute = Url.RouteUrl(RegistryDefaults.AddToCart);
}

<!link rel="stylesheet" href="/Plugins/i7MEDIA.Plugin.Widgets.Registry/Areas/Public/Styles/display.css?v=@version" />

<!script type="module">
    import {init} from '/Plugins/i7MEDIA.Plugin.Widgets.Registry/Areas/Public/Scripts/display.js?v=@version';

    init('@deleteRoute', '@addToCartRoute');
</!script>
<header data-registry-header>
    <h1>@Model.Name</h1>
    <article>
        <q>
            <i>
                @Model.Description
            </i>
        </q>
    </article>
</header>

<div data-registry-product-list>
    @{
        foreach (var item in items)
        {
            <form data-quantity="@item.Quantity" data-registry-item-id="@item.Id" data-fulfilled="@item.Fulfilled" data-product-name="@item.Name">
                <header>
                    <img src="@item.ImageUrl" alt="@item.Name">
                </header>
                <main>
                    <h3>@item.Name</h3>
                    <p>
                        @item.Description
                    </p>
                </main>
                <section data-currency>
                    Price: @item.Price.ToString("C", CultureInfo.CurrentCulture)
                </section>
                <section>
                    Purchased: @item.Purchased of @item.Quantity
                </section>
                <footer>
                    <button data-add type="button">
                        <i class="fal fa-plus"></i>
                        Add to Cart
                    </button>

                    @if (Model.IamOwner)
                    {
                        <button data-delete type="button">
                            <i class="fal fa-trash"></i>
                            Delete
                        </button>
                    }
                </footer>
            </form>
        }
    }
</div>

@await Html.PartialAsync("_RegistryNotification.cshtml")
@await Html.PartialAsync("_quantity.cshtml")