@model i7MEDIA.Plugin.Widgets.Registry.Models.RegistryList

<span data-header-row>Owner</span>
<span data-header-row>Name</span>
<span data-header-row>Description</span>
<span data-header-row>EventDate</span>
<span data-header-row></span>
<span data-line-break></span>
@foreach (var registry in Model.RegistryItems)
{
    <span>@registry.Owner</span>
    <span>@registry.Name</span>
    <span title="@registry.Description">@registry.Description</span>
    <span>@registry.EventDate.ToString("MMMM d, yyyy")</span>
    <span class="row-action">
        @if (registry.CanModify)
        {
            <a type="button" class="btn" data-registry-edit data-registry-id="@registry.Id">Edit</a>
            <a type="button" class="btn" data-registry-delete data-registry-id="@registry.Id">Delete</a>
        }
        <a type="button" class="btn" data-invert href="/registry/@registry.Id">Explore</a>
    </span>
}