@using i7MEDIA.Plugin.Widgets.Registry
@using System.Text.Json
@using i7MEDIA.Plugin.Widgets.Registry.Extensions
@model i7MEDIA.Plugin.Widgets.Registry.Models.ProductLinkViewModel

@{
    var version = Model.PluginVersion;
    var saveRoute = Url.RouteUrl(RegistryDefaults.Save);
    var productId = Model.ProductId;
    var registries = Model.Registries;
    var registryCount = registries.Count();
    var firstReg = registries.FirstOrDefault();
}

@(firstReg is not null){

<!link rel="stylesheet" href="/Plugins/i7MEDIA.Plugin.Widgets.Registry/Areas/Public/Styles/product.css?v=@version" />

<script type="module">
    import { init } from '/Plugins/i7MEDIA.Plugin.Widgets.Registry/Areas/Public/Scripts/product.js?v=@version';

    init('@saveRoute', '@productId', @registryCount);
</script>

<template data-registry-link-add>
    <button data-registry-id="@firstReg.Id" data-registry-button-add class="btn-register" type="button">@T("Registry.Product.Link")</button>

    <dialog data-registry-select>
        @{
            foreach (var reg in registries)
            {
                <button data-registry-id="@reg.Id" data-registry-button-add class="btn-register" type="button">
                    @T("Registry.Product.Link")
                </button>
            }
        }
    </dialog>

</template>

}