@using i7MEDIA.Plugin.Widgets.Registry
@using System.Text.Json
@using i7MEDIA.Plugin.Widgets.Registry.Extensions
@model i7MEDIA.Plugin.Widgets.Registry.Models.ProductLinkViewModel

@{
    var version = Model.PluginVersion;
    var saveRoute = Url.RouteUrl(RegistryDefaults.Save);
    var productId = Model.ProductId;
    var registries = Model.Registries;
    var multipleRegistries = registries.Count() > 1;
    var firstReg = registries.FirstOrDefault();
}

@if (firstReg != null)
{
    <!link rel="stylesheet" href="/Plugins/i7MEDIA.Plugin.Widgets.Registry/Areas/Public/Styles/product.css?v=@version" />

    <script type="module">
        import { init } from '/Plugins/i7MEDIA.Plugin.Widgets.Registry/Areas/Public/Scripts/product.js?v=@version';

        init('@saveRoute', '@productId', '@firstReg.Id');
    </script>

    <template data-registry-link-add>
        <div>
            <i class="fal fa-gift"></i>
            <button data-registry-id="@firstReg.Id" data-registry-button-add class="btn-register" type="button">
                @T("Registry.Product.Link")
            </button>
        </div>

        <dialog data-registry-select>
            @if (multipleRegistries)
            {
                <header>
                    <h2>
                        Multiple Registries Found! Please Select the Correct one Below...
                    </h2>
                </header>
            }

            <main>
                <form>

                    @if (multipleRegistries)
                    {
                        <section data-radio>
                            @foreach (var reg in registries)
                            {
                                <button type="button">
                                    <input id="registry-radio-@reg.Id" type="radio" value="@reg.Id" name="registry-radio" />
                                    <label for="registry-radio-@reg.Id">
                                        <div>@reg.Name</div>
                                        <time datetime="@reg.EventDate">@reg.EventDate.ToString("MMMM d, yyyy")</time>
                                    </label>
                                    <span class="info-ico" title="@reg.Description"></span>
                                </button>
                            }
                        </section>
                    }

                    <section data-quant>
                        <label>How Many Would You Like to Add?</label>
                        <input min="1" data-quantity type="number" value="1">
                    </section>
                </form>
            </main>
            <footer>
                <button data-cancel type="button">Cancel</button>
                <button data-submit type="button">Add</button>
            </footer>
        </dialog>
    </template>

    @await Html.PartialAsync("_RegistryNotification.cshtml")
}